
#menuLink{
    text-decoration: none;
}

#servicesLink{
    text-decoration: none;

}

#cardLink{
    text-decoration: none;
    
}



/* colors
green: #98E2C6
dark grey: #545C52
light grey: ##BBC7CE
blue: #BFEDEF
purple: #C4B7CB
*/